html,body{
  width: 100%;
}

*{
  margin: 0;
  font-family: sans-serif;
}
img{
  height: 100%;
  width: 100%;
}

/*
POLICE
font-family: 'Pacifico', cursive;
font-family: 'Baloo', cursive;
font-family: 'Raleway', sans-serif;*/

/* @@@@@@@@@ More Innovation @@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*HOME PAGE -------/------/-----/----/---/--/-/-----
@@@@@@@@@@@*/

/* @@@@@@@@@ header @@@@@@@@@@@@
@@@@@@@@@@@@@@@@@*/

header{
  top: 0;
  background-color: rgb(152, 167, 148);
  z-index: 3;
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 0 0 100% 0;
  transition: 0.4s;
  overflow: hidden;
}
/*nav*/

header .fa{
  display: block;
  margin: 8px 0 0 8px;
  font-size: 30px;
  width: 30px;
}
nav{
  transition: 0.3s;
}
#hamb{
  display: none;
}
#hamb:checked ~ #header{
  height: 200px;
  width: 200px;
  background-color: rgb(152, 167, 148,0.8);
}

#hamb:checked ~ #header nav{
  display: inline-block;
}

header ul{
  list-style: none;
  margin-top: 10px;
  padding-left: 20px;
}
header li{
  line-height: ;
}
header li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
}

header li a::before{
  content:".";
  visibility: hidden;
}
header li a:hover::before{
  visibility: visible;
}
/* @@@@@@@@@ HOME @@@@@@@@@@@@
@@@@@@@@@@@@@@@@@*/
body{
  background-image: url(../img/phone/homepagephone.jpg);
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: right;
  background-clip: border-box;
  background-attachment: fixed;
}
#home{
  height: 100vh;
  display: flex;
  justify-content: center;
}

/*TITRE*/
h1{
  line-height: 1em;
  margin-top: 80px;
  font-size: 2.9em;
  color: white;
  font-family: 'Pacifico', cursive;
  text-align: center;
}
h1 span{
  font-size: 0.8em;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  font-family: 'Raleway', sans-serif;
}

/*CAROUSEL*/
.carousel{
  overflow: hidden;
  position: absolute;
  width: 320px;
  background-color: rgb(58, 58, 58,0.6);
  height: 90px;
  bottom: 15%;
}
.carousel::after{
  content:'"La créativité est contagieuse"';
  position: absolute;
  width: 80%;
  margin: 15px 0 0 10%;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  line-height: 20px;
}
.car1,.car2,.car3,.car4,.car5,.car6,.car7,.car8{
  z-index: 2;
  width: 135px;
  position: absolute;
  animation: carousel;
  animation-duration: 10.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translateX(-100%);
}

@keyframes carousel {
  to{
    transform: translateX(320px);
  }
}

.car1{
  animation-delay:3s;
}
.car2{
  animation-delay:6s;
}
.car3{
  animation-delay:9s;
}
.car4{
  animation-delay:12s;
}
.car5{
  animation-delay:15s;
}
.car6{
  animation-delay:18s;
}
.car7{
  animation-delay:21s;
}
.car8{
  animation-delay:24s;
}

/*EQUIPE PAGE -------/------/-----/----/---/--/-/
@@@@@@@@@@@*/

#equipe{
  background-color:  #c9d8c5;
  height: 100vh;
  width: 100%;
}
















































/*PRESTATION PAGE -------/------/-----/----/---/--/-/
@@@@@@@@@@@*/
.prestation{
  background-color: #c69b59;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*titre préstation*/
h3{
  margin-top: 10px;
  font-size: 44px;
  font-family: pacifico;
  border-bottom: 3px solid #000;
}

/*articles*/
.prestation article {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url();
}

.prestation figure{
  width: 300px;
  height: 200px;
  margin-top: 40px;
  box-shadow: 1px 1px 5px 1px #936d2d;
  border-radius: 5px;
}
/*titre article*/
.prestation h4{
  color: white;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  /*background-color: rgb(83, 163, 178 ,0.9);*/
  background-color: #98a794;
  width: 300px;
  font-family: raleway;
  font-size: 26px;
  position: absolute;
  top: 40px;
  z-index: 1;
  text-align: center;
}
.prestation p{
  font-family: raleway;
  /*font-style: italic;*/
  padding: 5px;
  width: 200px;
  position: absolute;
  text-align: center;
  top: 75px;
  background-color: rgb(201, 216, 197,0.9);
  border-radius: 0 0 20px 0px;
  border-bottom: 1px solid #000;
  /*border-left: 1px solid #000;*/
}

.prestation label{
  border: 1px solid #936d2d;
  font-weight: bold;
  margin-top: 20px;
  padding: 5px;
  width: 100px;
  height: 40px;
  background-color: #fcfff8;
  text-align: center;
  border-radius: 0 10px 0 10px;
}

#Cprestaplus{
  display: none;
}
#prestaplus{
  height: 80px;
  overflow: hidden;
  transition: 1s;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#Cprestaplus:checked ~ #prestaplus{
  height: 1080px;
}





































/*CONTACT -------/------/-----/----/---/--/-/
@@@@@@@@@@@*/

#contact{
  background-color: #c9d8c5;
  width: 100%;
  height: 500px;
}




































/*FOOTER -------/------/-----/----/---/--/-/
@@@@@@@@@@@*/

























@media (min-width: 450px) {
  /*HOME PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/

  /*carousel*/
  .carousel{
    overflow: hidden;
    position: absolute;
    width: 450px;
    background-color: rgb(58, 58, 58,0.6);
    height: 150px;
    bottom: 15%;
  }
  .car1,.car2,.car3,.car4,.car5,.car6,.car7,.car8{
    width: 225px;
    animation-duration: 24s;
    transform: translateX(-100%);
  }

  @keyframes carousel {
    to{
      transform: translateX(1550px);
    }
  }

  .car1{
    animation-delay:3s;
  }
  .car2{
    animation-delay:6s;
  }
  .car3{
    animation-delay:9s;
  }
  .car4{
    animation-delay:12s;
  }
  .car5{
    animation-delay:15s;
  }
  .car6{
    animation-delay:18s;
  }
  .car7{
    animation-delay:21s;
  }
  .car8{
    animation-delay:24s;
  }
}
@media (min-width: 768px) {
  /*HOME PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/





























  /*EQUUIPE PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/






























  /*PRESTA PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/































  /*CONTACT PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/






























  /*FOOTER -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/























}

@media (min-width: 992px) {
  /*HOME PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/






























  /*EQUIPE PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/






























  /*PRESTA PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/
































  /*CONTACT PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/
































  /*FOOTER PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/

































}
