html,body{
  width: 100%;
}

*{
  margin: 0;
  font-family: sans-serif;
}


/* @@@@@@@@@ More Innovation @@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*HOME PAGE -------/------/-----/----/---/--/-/-----
@@@@@@@@@@@*/

/* @@@@@@@@@ header @@@@@@@@@@@@
@@@@@@@@@@@@@@@@@*/

header{

}
/*nav*/

nav{

}














































/*EQUIPE PAGE -------/------/-----/----/---/--/-/
@@@@@@@@@@@*/


















































/*PRESTATION PAGE -------/------/-----/----/---/--/-/
@@@@@@@@@@@*/








































/*CONTACT -------/------/-----/----/---/--/-/
@@@@@@@@@@@*/






































/*FOOTER -------/------/-----/----/---/--/-/
@@@@@@@@@@@*/

























@media (min-width: 768px) {
  /*HOME PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/





























  /*EQUUIPE PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/






























  /*PRESTA PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/































  /*CONTACT PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/






























  /*FOOTER -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/























}

@media (min-width: 992px) {
  /*HOME PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/






























  /*EQUIPE PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/






























  /*PRESTA PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/
































  /*CONTACT PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/
































  /*FOOTER PAGE -------/------/-----/----/---/--/-/-----
  @@@@@@@@@@@*/

































}
